<div *ngIf="!signInToggle" class="login-card card">
    <div class="login-title">
        <h1>Login</h1>
    </div>

    <div class="login-form">
        <div class="input-full-width">
            <input type="text" placeholder="Username">
        </div>

        <div class="input-full-width">
            <input type="{{passwordType}}" placeholder="Password">
            <fa-icon [icon]="eyeSlash" (click)=togglePassword()></fa-icon>
        </div>
        <div class="input-full-width">
            <label>Remember Me?</label>
            <input type="checkbox">
        </div>  
        <div class="buttons">
            <button class="login" (click)=login()>Login</button>
            <button>Forgotten Password?</button>
        </div>
        <button class="login" (click)=signUpToggle()>Sign Up</button>
    </div>
</div>  
<div *ngIf="signInToggle" class="login-card card">
    <div class="login-title">
        <h1>Sign Up</h1>
    </div>

    <div class="login-form">
        <div class="input-full-width">
            <input type="text" [(ngModel)]="userDetails.fullName" placeholder="Full Name">
        </div>

        <div class="input-full-width">
            <input type="text" [(ngModel)]="userDetails.userName" placeholder="Username">
        </div>

        <div class="input-full-width">
            <input type="{{passwordType}}" [(ngModel)]="userDetails.password" placeholder="Password">
            <fa-icon [icon]="eyeSlash" (click)=togglePassword()></fa-icon>
        </div> 
        <div class="buttons">
            <button class="login" (click)=addUser()>Confirm</button>
            <button routerLink="/UserManagementComponent">Forgotten Password?</button>
        </div>
        <button class="login" (click)=signUpToggle()>Back</button>
    </div>
</div>  