$fontColor:rgb(78, 78, 78);

.login-card{
    margin: 0  auto;
    margin-top: 100px;
    width: 30%;
    height: 800px;
    color: white;
    
    .login-title{
        text-align: center;  
        border-radius: 6px 6px 0px 0px;  
        height: 250px;
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
        vertical-align: middle;
        position: relative;
        h1{
            position: absolute;
            top: 30%;
            width: 100%;
            text-align: center;
        }
    }

    .login-form{
        display: flex;
        align-content: stretch;
        flex-direction: column;
        justify-content: space-around;
        height: 540px;
    }

    .input-full-width{
        display: flex;
        align-content: stretch;
        position: relative;
        input{
            padding: .5em;
            margin: .5em 1em;
            height: 40px;
            width: 100%;
            font-size: 32px;
            border: none;
            border-bottom: 2px solid grey;
            color: $fontColor;
            &:focus{
                border: none;               
                border-bottom: 1px solid;
            }
        }
        input[type=checkbox]{
            margin:0;
            position: absolute;
            top: 30%;
            right: 10%;
            font-size: 32px;
            width: 10%;
        }
        label{
            padding: 0.5em;
            margin: 0.5em 1em;
            color: gray;
            font-size: 32px;
        }
        fa-icon{
            color: $fontColor;
            font-size: 32px;
            position: absolute;
            top: 30%;
            right: 10%;
        }
    }
    .buttons{
        text-align: center;
        display: flex;
        align-content: stretch;
        justify-content: space-around;
        button{
            margin: 2% 5%;
            height: 80px;
            background-image:  linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
            color: white;
            border-radius: 10px;
            border:none;
            font-size: 1.1em;
            transition: box-shadow .1s ease-in, color .1s ease-in;
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0);
            width: 60%;
            &:hover{
                box-shadow: inset 0 0 0 1000px rgba(224, 195, 252,.9);   
                color: $fontColor;
                -webkit-transition: box-shadow .1s ease-in, color .1s ease-in;
                -moz-transition: box-shadow .1s ease-in, color .1s ease-in;
                -o-transition: box-shadow .1s ease-in, color .1s ease-in;
                transition: box-shadow .1s ease-in, color .1s ease-in;
            }
        }
        button.login{
            margin: 2% 5%;
            background-image:  linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0);
            transition: box-shadow .1s ease-in, color .1s ease-in;
            width: 40%;
            &:hover{
                box-shadow: inset 0 0 0 1000px rgba(142, 197, 252,.9);
                color: $fontColor;
                -webkit-transition: box-shadow .1s ease-in, color .1s ease-in;
                -moz-transition: box-shadow .1s ease-in, color .1s ease-in;
                -o-transition: box-shadow .1s ease-in, color .1s ease-in;
                transition: box-shadow .1s ease-in, color .1s ease-in;
            }
        }
    }
    .login{
        margin: 2% 5%;
        height: 80px;
        background-image:  linear-gradient(62deg, #8EC5FC 0%, rgb(224, 195, 252) 100%);
        color: white;
        border-radius: 10px;
        border:none;
        font-size: 1.1em;
        transition: box-shadow .1s ease-in, color .1s ease-in;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0);
        &:hover{            
            box-shadow: inset 0 0 0 1000px rgba(224, 195, 252,.9);      
            color: $fontColor;
            -webkit-transition: box-shadow .1s ease-in, color .1s ease-in;
            -moz-transition: box-shadow .1s ease-in, color .1s ease-in;
            -o-transition: box-shadow .1s ease-in, color .1s ease-in;
            transition: box-shadow .1s ease-in, color .1s ease-in;

        }
    }
}

